@charset "UTF-8";
html { 
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    background: #eeeeee;
    margin:0px;
  }

#TopSection{
    position: relative;
    padding: 0px;
    margin: 0px;
    height:100vh;
}

#ActivitySection{
    background: #e9e390;
    position: relative;
    width: 100vw;
    padding: 0px;
    height:100vh;
}

#IntroductionSection{
    position: relative;
    background: black;;
    width: 100vw;
    padding: 0px;
    height:100vh;
}

#EngineeringSection{
    position: relative;
    background: black;;
    width: 100vw;
    padding: 0px;
    height:100vh;
}

#SocialSection{
    position: relative;
    background: black;;
    width: 100vw;
    padding: 0px;
    height:100vh;
}

#ResearchSection{
    position: relative;
    background: black;;
    width: 100vw;
    padding: 0px;
    height:100vh;
}

#TopSection h1{
    position: absolute;
    width:100vw;
    text-align: center;
    top:50%;
    margin:0px;
    z-index: 1;
}

#backgroundImg > video{
    position: absolute;
    left: 50%;
    width:1920px;
    min-width: 100%;
    min-height: 100vh;
    margin-left: -960px;
}

#SelfIntroduction{
    position: absolute;
    width: 50vmax;
    height:100vh;
    right:5vw;
}

#Myname {
    position: absolute;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    top:10vh;
    color:white;
    font-size: 8vmax;
}

#MyPortfolioLink {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width:40%;
    top:33vh;
    margin-left: 30%;
    margin-right: 30%;
}

#MyPortfolioLink > a>  img{
    max-width:70px;
    height: 5vh;
}

#CurrentPositions{
    position: absolute;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 40vh;
    text-align: center;
    color:white;
    font-size: 2vmin;
}

#EngineerIntroduction{
    position: absolute;
    width: 50vw;
    height:100vh;
    left:5vw;
}

#EngineeringSkills {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width:50vw;
    height:70vh;
    left:5%;
    top: 10%;
}

#SocialSection > h3{
    position: absolute;
    color:white;
    bottom: 60%;
    right: 12%;
}

#SocialSection > h4{
    position: absolute;
    color:white;
    bottom: 50%;
    right: 10%;

}

#ResearchSection > h3{
    position: absolute;
    color:white;
    top: 30%;
    left: 12%;
}

.Skill{
    position:relative;
    width:10vw;
    height:20vh;
    margin-bottom: 7%;
}

.Skill > h3{
    position: absolute;
    color:white;
    text-align: center;
    width:100%;
    bottom: 20%;
    font-size: 1rem;

}

.Skill > img{
    position: absolute;
    color:white;
    text-align: center;
    width:100%;
    height:50%;
    font-size: 1rem;
}

.Skill > .SkillRate{
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    bottom: 10%;
}

.Skill > .AddInfo{
    position: absolute;
    color: white;
    text-align: center;
    font-size: 0.7vmin;
    width: 100%;
    height:10%;
    bottom:0%;
    left:-5%;
}

.ImageRight{
    position:absolute;
    top:-16px;
    right:0px;
}

.ImageRight > img{
    height:100vh;
}

.ImageLeft{
    position:absolute;
    top:-16px;
    left:0px;
}

.ImageLeft > img{
    height:100vh;
}

.MidBackgroundRight{
    position:absolute;
    background: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,1) 50%, rgba(0,0,0,0));
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
}

.MidBackgroundLeft{
    position:absolute;
    background: linear-gradient(to left,rgba(0,0,0,1),rgba(0,0,0,1) 50%, rgba(0,0,0,0));
    width:100vw;
    height:100vh;
    top:0px;
    right:0px;
}

.SectionTitleRight{
    position:absolute;
    color:white;
    font-size: 6rem;
    width:50%;
    margin: 0%;
    bottom:5vh;
    left:6%;
}

.SectionTitleLeft{
    position:absolute;
    color:white;
    font-size: 6rem;
    text-align: right;
    width:50%;
    margin: 0%;
    bottom:5vh;
    right:6%;
}


.Footer{
    position:relative;
    background-color: black;
    width:100vw;
    height: 40vh;
}

.Footer > p{
    position: relative;
    text-align:center;
    color: white;
    top: 30%;
    margin:0px;
}

.Footer > #MyPortfolioLink{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width:40%;
    top:30vh;
    margin-left: 30%;
    margin-right: 30%;
}
